{% extends 'core/base.html' %}
{% load static %}
{% block title %}contactos{% endblock %}
{% block content %}

<div class="jumbotron text-center">
    <h1>Envios a Domicilio  -  Atención CABA</h1>
    <p>Pedis hoy te entregamos mañana</p> 
</div>
    
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>zonas</h3>
        <p>Compra minima $600</p>
        <ul>
            <li>Liniers</li>
            <li>Villa Luro</li>
            <li>Mataderos</li>
            <li>Parque Avellaneda</li>
            <li>Boedo</li>
            <li>Almagro</li>
            <li>Parque Patricios</li>
            <li>Balbanera</li>

        </ul>
      </div>
      <div class="col-sm-6">
        <h3>zonas</h3>
        <p>Resto de CABA</p>
        <p>compra minima $2000</p>
      </div>
    </div>
</div>
{% endblock content %}
